parameters:
    reportUnmatchedIgnoredErrors: false
    excludePaths:
    ignoreErrors:
        - '#.* Illuminate\\Container\\Container.*#'
        - '#.* Hyperf\\Utils\\ApplicationContext.*#'
        - '#.* think\\Container.*#'
        - '#.* Hyperf\\Pimple\\ContainerFactory.*#'
        - '#.* Hyperf\\Context\\ApplicationContext.*#'
